.imagen{
    width: 100%;
}
.imagen img{
@include medidas(100%, 100%)
}
.Zoom:hover{
    transform: scale(1.2);
}
.grid-container{  
    width: 100%;  
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 65px 20px;
}
img.tamano{
    @include medidas(170px, 100px)
}
#sizerinicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sizerinicio video{
    @include  medidas-width(100%, 1250px)
}
#sizeart img{
    @include medidas-width(100%, 300px)
}
#sizemotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        @include medidas-width(100%, 900px)
    }
}
#sizeautos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
    img{
        max-width: 100%;
        max-height: 100%;
        width: 900px;
    }
}