h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9D9D9D
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(146, 142, 139)
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(146, 142, 139)
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(146, 142, 139)
}
p{
    color: #BABABA;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
article{
    color: #BABABA;
    text-align: center;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
